@page
@model IndexModel
@{
    ViewData["Title"] = "Resources";
}

<table class="table">
            
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Booked by
            </th>
            <th scope="col">
                Reason
            </th>
        </tr>
    </thead>
    @foreach(var group in Model.Groups)
    {
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @group.Name
                </th>
                <th scope="col">@group.BookedBy?.Login</th>
                <th scope="col">@group.BookingReason</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach(var resource in @group.Resources.OrderBy(it => it.Name))
            {
                <tr>
                    <td scope="row">
                        <a asp-page="./Details" asp-route-id="@resource.Id">@resource.Name</a>
                    </td>
                    <td>@resource.BookedBy?.Login</td>
                    <td>@resource.BookingReason</td>
                </tr>
            }
        </tbody>

        <br />
    }
</table>