@page "{id:Guid}"
@model SessionModel

@{
    ViewData["Title"] = "Poker";
}

<style>
    .history {
      height: 80vh;
      overflow-y: auto;
    }
</style>

<script>    
    $(document).ready(function () {
        $('.collapse').collapse();
    });
</script>


<div class="container-fluid">
    
    
    <div class="row">
        <div class="col-7">
            
            <h4 class="mb-5">@Model.Session.Name</h4>
            
            <form id="subjects" method="post" class="my-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group">
                    @Html.HiddenFor(it => it.SessionId)
                    <input asp-for="SubjectName" type="text" class="form-control" placeholder="Subject">
                    <div class="input-group-append">
                        <button asp-page-handler="Subject" type="submit" form="subjects" class="btn btn-primary">
                            Start voting
                        </button>
                    </div>
                </div>
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </form>
            
            <form id="voting" method="post" class="my-5">
                @Html.HiddenFor(it => it.SessionId)
                
                <div class="d-flex mb-2" >
                    <div class="btn-group btn-group-toggle flex-fill mr-1" data-toggle="buttons">
                        @foreach (var card in Model.Session.CardsSet.Cards)
                        {
                            <label id="vote-radio" class="btn btn-info">
                                <input type="radio" name="Vote" autocomplete="off" value="@card"> @card
                            </label>
                        }
                    </div>
                
                    <button asp-page-handler="Vote" type="submit" form="voting" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Vote
                    </button>
                </div>
            </form>
            
            <ul class="list-group">
                @foreach (var voter in @Model.Session.ActiveSubject.Voters)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <img src="@voter.User.AvatarUrl" class="avatar avatar-mini m-2" alt="avatar">
                            &nbsp
                            @voter.User.Login
                        </span>
                        @if (voter.Result != null)
                        {
                            <span class="badge badge-success badge-pill">@voter.Result</span>
                        }
                        else
                        {
                            <span class="badge badge-warning badge-pill">-</span>
                        }
                    </li>
                }
            </ul>

        </div>

        <div class="col-5">

            <div class="card card-default">
                <div class="card-body">
                    <h4 class="card-title">History</h4>
                    
                    <div id="accordion" class="history">
                        @foreach (var subject in Model.Session.Subjects.Where(s => !s.IsActive))
                        {
                            
                            <div class="card">
                                @{
                                    var dataTarget = $"#collapse{subject.Id}";
                                    var ariaControls = $"collapse{subject.Id}";
                                    var heading = $"heading{subject.Id}";
                                }
                                <div class="card-header" id="@heading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="@dataTarget" aria-expanded="true" aria-controls="@ariaControls">
                                            @subject.Name
                                        </button>
                                    </h5>
                                </div>

                                <div id="@ariaControls" class="collapse show" aria-labelledby="@heading" data-parent="#accordion">
                                    <div class="card-body">
                                        
                                        <!-- TODO extract partial view -->

                                        <ul class="list-group list-group-flush">
                                            @foreach (var voter in @subject.Voters)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>
                                                        <img src="@voter.User.AvatarUrl" class="avatar avatar-mini m-2" alt="avatar">
                                                        &nbsp
                                                        @voter.User.Login
                                                    </span>
                                                    @if (voter.Result != null)
                                                    {
                                                        <span class="badge badge-success badge-pill">@voter.Result</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-warning badge-pill">-</span>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>